@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {

    body {
        height: 100vh;
        width: 100vw;

        background-image: linear-gradient(90deg, #5f2c82, #49a09d);
    }

    #login {
        width: 80vw;
        height: 280px;
    }
    
    #imagem {
        float: left;
        width: 30%;
        height: 500px;
    }

    #formulario {
        float: right;
        width: 70%;
    }

    #formulario > p {
        margin: 10px 0px;
    }
}

@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(90deg, #5f2c82, #49a09d);
    }

    #login {
        width: 950px;
        height: 300px;
    }

    #imagem {
        float: right;
        width: 50%;
        height: 800px;
    }

    #formulario {
        float: left;
        width: 50%;
    }

    div#formulario > p {
        font-size: 1em;
        margin: 10px 0px;
    }
}